@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

.headerName {
  color: #4b06b9;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
    color: orange;
  }
}

.hero-container {
  background-image: linear-gradient(0deg, #4b06b9, #2b52e0);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  padding-top: 100px;
  height: 15vh;
}

.curve {
  position: absolute;
  height: 250px;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.curve::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 60%;
  height: 100%;
  transform: translate(85%, 40%);
  background: white;
}

.curve::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 85%;
  background-image: linear-gradient(0deg, #4b06b9, #4b06b9);
  transform: translate(-4%, 40%);
  z-index: -1;
}

.page-cont {
  display: flex;
  justify-content: start;
  align-items: start;
  height: 100vh;
}

.user-list-cont {
  width: 570px;
  margin: 3rem auto;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 1px 2px 20px 0px #e0e0e0;
  z-index: 9999;

  .list-header {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: #f6f6f6;
    padding: 2rem;
    border-radius: 1rem 1rem 0 0;
    color: #555;
  }

  .list-body {
    height: 400px;
    overflow-y: scroll;

    .list-item {
      margin: 0.3rem 2rem;
      padding: 0.5rem 0;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #444;
      border-bottom: 1px solid #ddd;
    }
  }
}

.item-img {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;

  img {
    object-fit: cover;
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }
}

.popover {
  width: 18rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 20px;

  .signOutImg {
    height: 4rem;
    width: 4rem;
    margin: 2em auto 0em auto;
  }

  .signOutEmail {
    color: lightgray !important;
  }

  .popoverBody {
    margin: 0.2rem 2rem;
    padding: 0.5rem 0;
    color: #444;
    border-bottom: 1px solid #ddd;

    p {
      text-align: center;
      font-weight: normal;
    }
  }

  .btn {
    margin: 1rem auto 2rem auto;
    display: block;
    border-radius: 25px;
    background-color: red;
  }
}

.profile-cont {
  display: flex;
  align-items: center;
  height: 100vh;

  .headerName::first-letter {
    text-transform: capitalize;
  }
}

.sidebar-cont {
  width: 250px;
  margin: 2.5rem 3rem;
  height: calc(100% - 5rem);
  background-image: linear-gradient(0deg, #4b06b9, #2b52e0);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .sidebar-item {
    padding: 0 2.5rem;
    color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: #eee;
    }

    &.active {
      color: #fff;
      font-weight: 600;
    }

    .item-title {
      padding: 1.2rem 0;
      border-bottom: 1px solid #fff5;
      flex: 1;
    }

    .active-icon {
      border-radius: 100px 0 0 100px;
      background-color: #f9f9f9;
      color: #666;
      position: absolute;
      right: 0;
      padding: 0.5rem 0.7rem;
      font-size: 1.2rem;
    }

    &:last-of-type {
      .item-title {
        border: none;
      }
    }
  }
}

.main-cont {
  margin: 2.5rem 3rem;
  margin-left: 0;
  height: calc(100% - 5rem);
  flex: 1;
}

.page-header-cont {
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

.profile-det-cont {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #555;
}

.profile-map-cont {
  flex: 1;
  margin: 0.25rem 0;
  font-size: 1.2rem;
  color: #555;
  border-left: 1px solid #ddd;
}

.det-item {
  padding: 0.5rem 0;
  margin: 0 1rem;
  display: flex;
  width: calc(100% - 2rem);
  justify-content: center;
  box-sizing: border-box;

  .label {
    color: #999;
    width: 35%;
    text-align: right;
  }

  .value {
    padding-left: 0.5rem;
    width: 65%;
    font-weight: 600;
  }
}

.border-top {
  border-top: 1px solid #ddd;
}

.coming-soon-cont {
  height: calc(100% - 5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5.5rem;
  font-weight: 800;
  color: #eee;
}